body {
	  padding-top: 70px;
}
.navbar {
	background: #FF4136;
	border-bottom: #FF851B 1px solid;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
	
	color: #FFF;
	
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
	
	color: rgba(255,255,255,0.9);
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	
	background-color: #FF4136;
	color: rgba(255,255,255,0.9);
}
.navbar-default .navbar-toggle {
	  border-color: #FFF;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	  opacity: 0.8;
	  background-color: rgba(0,0,0,0);
}
.navbar-default .navbar-toggle .icon-bar {
	  background-color: #FFF;
	  
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #FF4136;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: rgba(255,255,255,0.8);
	background-color: #FF4136;
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #FFF;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: rgba(255,255,255,0.9);
	}
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: rgba(255,255,255,0.9);
}